@use 'variaveis';
@use 'mixins';

.cabecalho{
    background: variaveis.$cor-primaria;
    color: white;
    @include mixins.espacamento-padrao;
    // padding: variaveis.$espacamento-padrão;

    // (aninhado e com o operador "&") equivalente a cabecalho__titulo
    &__titulo{
        text-align: center;
    }
}