@import "tailwindcss";

@theme {
    --pet-menu: #ff5a3d;
    --pet-offwhite: #F8F7F5;
    --pet-bege: #E5D5C2;
    --pet-text-grafite: #2A2A2A;
    --pet-headers-grafite: #3B241F;
    --pet-bg-pessego: #FFC97A;
}