@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* variáveis de cores */
:root {
    --primary-color: #F0F0F0;
    --primary-bg-color: #3A0035;
    --secondary-bg-color: #570E51;

    --title-color: #F0F0F0;
    --text-color: #AD74A8;
    --link-color: #F0F0F0;
    --icon-color: #AD74A8;
}

/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*estabelece o tamanho total da caixa considerando o conteúdo, o padding e a borda. Isso possibilita que alterações em algum desses elementos não altere o tamanho total da caixa*/
    vertical-align: baseline;
    /*o baseline é especialmente importante quando você tem elementos de diferentes tamanhos na mesma linha e quer que eles se alinhem de forma natural com o texto, mantendo a legibilidade*/
    list-style: none;
    /* remove o sublinhado dos links */
    text-decoration: none;
}

/* mobile first */

/* transição suave ao navegar via menu pela página */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    /*Fonte importada do google fonts*/
    color: var(--text-color);
}

/* estilização padrâo aos <h2> utilizados como títulos das partes da página */
.header__section {
    color: var(--title-color);
    /* acrescenta 14.5rem de margin-top toda vez que acessar alguma parte da página por meio de âncora. O tamneho da margem é o equivalente ao tamanho (altura) do header para faciliar a vizualização */
    scroll-margin-top: 14.5rem;
}

/* AQUI IINICIA ESTILIZAÇÃO DO HEADER COM BEM*/

/* contém a logo, o nome da empresa, slogan e menu de navegação */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* fixa o menu na tela */
    position: sticky;
    /* cola no topo */
    top: 0;

    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-bg-color);
    margin-bottom: 0px;
}

/* div que contém a imagem da logo e o nome da empresa */
.header__logo-name {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1em;
    height: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* logo da empresa ao lado do nome */
.header__logo {
    height: 5em;
    width: 5em;
    align-self: center;
    border: .5px solid black;
    border-radius: 50%;
    background-color: var(--text-color);
}

/* div contida em ".header__logoAndName" que abarca o nome da empresa e seu slogan */
.header__name-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* nome da empresa */
.header__name {
    font-size: 2em;
    color: var(--title-color);
}

/* slogan da empresa */
.header__slogan {
    font-size: 1em;
}

/* <nav> e <ul> que contêm o menu de navegação e seus itens*/
.menu,
.menu__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 3rem;
    align-items: center;
    border: 1px solid black;
    font-size: 1rem;
}

/* esilização padrão para as âncoras */
.menu__item {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;
}

/* estilização padrão ao posicionar o cursor em cima de uma âncora */
.menu__item:hover {
    color: var(--text-color);
}

/* estilização padrão ao clicar com o cursor em cima de uma âncora */
.menu__item:active {
    font-weight: bold;
}

/* AQUI TERMINA ESTILIZAÇÃO DO HEADER COM BEM*/

/* padroniza todas as sections */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* div com <h2> e <p> */
.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0 auto;
    padding: 0px;
}

.home__header {
    margin-top: 1rem;
}

/* imagem do computador */
.bg-computer {
    width: 100%;
    padding: 1rem;
}

/* container na seção sobre nós */
.about__container {
    max-width: 54rem;
    margin: 0 auto;
    padding: 0px;
}

/* padroniza todos os parágrafos contidos em sections */
.section__text {
    text-align: justify;
    margin: 0;
    padding: 1rem;
}

/* seção de serviços */
.service__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 16rem;
    padding: 1rem;
    gap: .5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    max-width: 54rem;
    margin: 0 auto;

}

/* cada serviço */
.services__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-radius: 5%;

}

/* section que contém os depoimentos */
.statements {
    padding: 1rem;
}

/* estilização dos depoimentos */
.statement__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 54rem;
    margin: 0 auto;
}

/* estilização dos parágrafos dos depoimentos */
.statement__text {
    text-align: justify;
    margin: 0;
    padding: 1rem;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    background-color: var(--icon-color);
    color: var(--primary-bg-color);
    box-shadow: inset 5px 5px 10px var(--secondary-bg-color),
        inset -5px -5px 10px var(--text-color);
}

/* classe das fotos dos usuários */
.photo-client {
    border-radius: 10%;
    overflow: hidden;
}

.form__header {
    text-align: center;
    padding-top: 1rem;
}

/* formulário */
.form__container {
    padding: 1rem;
    border-top: 1px solid var(--primary-color);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 60%;
    margin: .5rem;
    padding: .5rem;
    padding-bottom: 1.5rem;
    background-color: var(--secondary-bg-color);
    border-radius: 5%;
}

/* estilização do botão */
.button {
    width: 50%;
    height: 1.5rem;
    background-color: var(--text-color);
    color: var(--primary-bg-color);
    border: 1px solid var(--secondary-bg-color);
    border-radius: 10px;
    max-width: 10rem;
    cursor: pointer;
    margin-top: .5rem;
}

.button:hover{
    color: var(--primary-color);
}

.button:active {
    font-weight: bold;
}

/* seção de contato */
.contact-numbers__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.phone {
    color: var(--primary-color);
}

/* media query */
@media (min-width: 768px) {

    .header__section {
        scroll-margin-top: 9rem;
    }

    .section__home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .home__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        width: 50%;
        max-width: 27rem;
    }

    .home__header {
        width: 60%;
        max-width: 27rem;
        margin: 0 auto;
        text-align: center;
        scroll-margin-top: 18rem;
    }

    .bg-computer {
        width: 40%;
        max-width: 27rem;
    }

    .statement__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .statement__container--reverse {
        flex-direction: row-reverse;
    }

}

@media (min-width: 992px) {
    .header__logo-name {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}