@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    
    background-color: white;
    padding: 10px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

form>input{
    padding: 3px;
}

form>button{
    background-color: #28A647;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

form>button:hover{
    background-color: #30c054;
    cursor: pointer
}

#tarefa{
    width: 300px;
}

#listaTarefas {
    list-style: none;
    padding-left: 0px;
}

#listaTarefas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #F5F5F5;
    border-radius: 3px;
    margin: 10px;
}

#listaTarefas button{
    background-color: #DD3545;
    border: none;
    border-radius: 3px;
    color: white;
    
}

#listaTarefas button:hover{
    background-color: #f73e50;
    cursor: pointer;    
}


