@use 'variaveis';

// MENU

/* <nav> e <ul> que contêm o menu de navegação e seus itens*/
.menu,
.menu__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 3rem;
    align-items: center;
    border: 1px solid black;
    font-size: 1rem;
}

/* esilização padrão para as âncoras */
.menu__item {
    text-decoration: none;
    color: variaveis.$link-color;
    cursor: pointer;
}

/* estilização padrão ao posicionar o cursor em cima de uma âncora */
.menu__item:hover {
    color: variaveis.$text-color;
}

/* estilização padrão ao clicar com o cursor em cima de uma âncora */
.menu__item:active {
    font-weight: bold;
}

// BUTTON

/* estilização do botão */
.button {
    width: 50%;
    height: 1.5rem;
    background-color: variaveis.$text-color;
    color: variaveis.$primary-bg-color;
    border: 1px solid variaveis.$secondary-bg-color;
    border-radius: 10px;
    max-width: 10rem;
    cursor: pointer;
    margin-top: .5rem;
}

.button:hover{
    color: variaveis.$primary-color;
}

.button:active {
    font-weight: bold;
}