@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root{
    --primary-color: #F0F0F0;
    --primary-bg-color: #3A0035;
    --secondary-bg-color: #570E51;

    --title-color: #F0F0F0;
    --text-color: #AD74A8;
    --link-color: #F0F0F0;
    --icon-color: #AD74A8;
}

/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*estabelece o tamanho total da caixa considerando o conteúdo, o padding e a borda. Isso possibilita que alterações em algum desses elementos não altere o tamanho total da caixa*/
    vertical-align: baseline;
    /*o baseline é especialmente importante quando você tem elementos de diferentes tamanhos na mesma linha e quer que eles se alinhem de forma natural com o texto, mantendo a legibilidade*/
    list-style: none;
    /* remove o sublinhado dos links */
    text-decoration: none;
}

/* mobile first */

/* transição suave ao navegar via menu pela página */
html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    /*Fonte importada do google fonts*/
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;
}

h2{
    color: var(--title-color);
    scroll-margin-top: 14.5rem;
}

/* contém a logo, o nome da empresa, slogan e menu de navegação */
header{
    display: flex;
    flex-direction: column;
    /* margin-top: 5rem; */
    align-items: center;
    position: sticky;     /* fixa o menu na tela */
    top: 0;              /* cola no topo */
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-bg-color);
    margin-bottom: 0px;
}

/* div que contém a imagem da logo e o nome da empresa */
.logoAndName{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1em;
    height: 50%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* logo da empresa ao lado do nome */
.logo{
    height: 5em;
    width: 5em;
    align-self: center;
    border: .5px solid black;
    border-radius: 50%;
    background-color: var(--text-color);
}

/* div contida em ".logoAndName" que abarca o nome da empresa e seu slogan */
.nameSlogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* nome da empresa */
.name{
    font-size: 2em;
    color: var(--title-color);
}

/* slogan da empresa */
.slogan{
    font-size: 1em;  
}

/* nav que contém o menu de navegação */
.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 3rem;
    align-items: center;
    border: 1px solid black;
    font-size: 1rem;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0;
    padding: 1rem;
}

#home{
    margin-top: 1rem;
}

#aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 54rem;
    margin: 0 auto;
    padding: 0px;
}

/* padroniza todas as sections */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-computer{
    width: 100%;
    padding: 1rem;
}

/* padroniza todos os parágrafos contidos em sections */
section>p{
    text-align: justify;
    margin: 0;
    padding: 1rem;
}

.services{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 16rem;
    padding: 1rem;
    gap: .5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    max-width: 54rem;
    margin: 0 auto;
    
}

/* cada serviço */
span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-radius: 5%;
    
}

/* section que contém os depoimentos */
.statements{
    padding: 1rem;
}

#statement1,
#statement2,
#statement3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 54rem;
    margin: 0 auto;
}

#statement1>p,
#statement2>p,
#statement3>p
{
    text-align: justify;
    margin: 0;
    padding: 1rem;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem;
    background-color: var(--icon-color);
    color: var(--primary-bg-color);
    box-shadow: inset 5px 5px 10px var(--secondary-bg-color),
              inset -5px -5px 10px var(--text-color);
}

.client{
    /* width: 18rem;
    height: 18rem; */
    border-radius: 10%;
    overflow: hidden;
}

h3{
    text-align: center;
    gap: 1rem;
}
/* formulário */
.formContainer{
    padding: 1rem;
    border-top: 1px solid var(--primary-color);
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;   
    width: 60%;
    margin: .5rem;
    padding: .5rem;
    background-color: var(--secondary-bg-color);
    border-radius: 5%;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.button{
    width: 50%;
    height: 1.5rem;
    background-color: var(--text-color);
    color: var(--primary-bg-color);
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5%;
    max-width: 10rem;
    
    cursor: pointer;
}

.phone{
    color: var(--primary-color);
}

/* media query */
@media (min-width: 768px){
    #statement1,
    #statement3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #statement2{
        flex-direction: row-reverse;
    }

    #homeContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .home{
        width: 60%;
        max-width: 27rem;
    }

    .bg-computer{
        width: 40%;
        max-width: 27rem;
    }

}

@media (min-width: 992px){
   .logoAndName{
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}