
@use 'variaveis';
@use 'mixins';


/* reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*estabelece o tamanho total da caixa considerando o conteúdo, o padding e a borda. Isso possibilita que alterações em algum desses elementos não altere o tamanho total da caixa*/
    vertical-align: baseline;
    /*o baseline é especialmente importante quando você tem elementos de diferentes tamanhos na mesma linha e quer que eles se alinhem de forma natural com o texto, mantendo a legibilidade*/
    list-style: none;
    /* remove o sublinhado dos links */
    text-decoration: none;
    // uso do operador
    font-size: variaveis.$primary-font-size/2;
}

/* mobile first */

/* transição suave ao navegar via menu pela página */
html {
    scroll-behavior: smooth;
}

body {
    background-color: variaveis.$primary-bg-color;
    font-family: variaveis.$primary-font;
    /*Fonte importada do google fonts*/
    color: variaveis.$text-color;
}

/* padroniza todas as sections */
.section {
    @include mixins.standard-section;
}

/* padroniza todos os parágrafos contidos em sections */
.section__text {
    @include mixins.standard-section-text;
}

/* estilização padrâo aos <h2> utilizados como títulos das partes da página */
.header__section{
    @include mixins.header-spacement;
    @media (min-width: 768px){
        scroll-margin-top: 9rem;
    }
}