// Variável de texto

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$primary-font: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
$primary-font-size: 2rem;

/* variáveis de cores */

$primary-color: #F0F0F0;
$primary-bg-color: #3A0035;
$secondary-bg-color: #570E51;

$title-color: #F0F0F0;
$text-color: #AD74A8;
$link-color: #F0F0F0;
$icon-color: #AD74A8;

